/* Resetando algumas propriedades básicas para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #6e7dff, #8b98f2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Modificado para alinhar o conteúdo de forma vertical */
    height: 100vh;
    color: #fff;
    text-align: center;
    padding-bottom: 60px; /* Adiciona espaço para o footer não cobrir o conteúdo */
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

form {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    transition: 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #6e7dff;
    background-color: #fff;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6e7dff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5360e7;
}

p {
    margin-top: 30px; /* Diminui a distância entre o formulário e o texto */
    font-size: 1rem;
    color: #f1f1f1;
}

a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #ddd;
}

footer {
    width: 100%;
    background-color: #4655db;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 0.9rem;
}
